Repository zeroth-robotics/zeroth-bot: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-toolchain, build-cviwrapper, build-servo, build-efuse, build-kos

build-toolchain:
  tags:
  - linux-x64
  stage: build-toolchain
  services:
  - docker:dind
  image: docker:latest
  script:
  - "if [ \"$GITLAB_CI\" != \"false\" ]; then\n  echo \"$CI_REGISTRY_PASSWORD\" | docker login $CI_REGISTRY -u $CI_REGISTRY_USER --password-stdin\n  docker pull $TOOLCHAIN_IMAGE:latest || true\nfi\n"
  ...

build-cviwrapper:
  tags:
  - linux-x64
  variables:
    TOOLCHAIN_PREFIX: /sdk/host/bin/riscv64-buildroot-linux-musl-
    SYSROOT: /sdk/host/riscv64-buildroot-linux-musl/sysroot
    CFLAGS: -mcmodel=medany -mabi=lp64d
    LDFLAGS: -D_LARGEFILE_SOURCE -D_LARGEFILE64_SOURCE -D_FILE_OFFSET_BITS=64
    TPU_SDK_DIR: ../tpu-sdk-sg200x
  ...

build-servo:
  tags:
  - linux-x64
  variables:
    TOOLCHAIN_PREFIX: /sdk/host/bin/riscv64-buildroot-linux-musl-
    SYSROOT: /sdk/host/riscv64-buildroot-linux-musl/sysroot
    CFLAGS: -mcmodel=medany -mabi=lp64d
    LDFLAGS: -D_LARGEFILE_SOURCE -D_LARGEFILE64_SOURCE -D_FILE_OFFSET_BITS=64
    TPU_SDK_DIR: ../tpu-sdk-sg200x
  ...

build-efuse:
  tags:
  - linux-x64
  variables:
    TOOLCHAIN_PREFIX: /sdk/host/bin/riscv64-buildroot-linux-musl-
    SYSROOT: /sdk/host/riscv64-buildroot-linux-musl/sysroot
    CFLAGS: -mcmodel=medany -mabi=lp64d
    LDFLAGS: -D_LARGEFILE_SOURCE -D_LARGEFILE64_SOURCE -D_FILE_OFFSET_BITS=64
    TPU_SDK_DIR: ../tpu-sdk-sg200x
  ...

build-kos:
  tags:
  - linux-x64
  stage: build-runtime
  needs:
  - build-cviwrapper
  - build-servo
  image: $TOOLCHAIN_IMAGE:latest
  variables:
    CC_riscv64gc_unknown_linux_musl: /sdk/host/bin/riscv64-buildroot-linux-musl-gcc.br_real
  script:
  - cd runtime/kos_platform
  - source /root/.cargo/env
  ...

fmt
  kos-zbot/src/actuator.rs
  kos-zbot/src/imu.rs
  kos-zbot/src/lib.rs
Due: none

Kos0.3 (#85)
  .gitlab-ci.yml
  runtime/kos_platform/.cargo/config.toml
  runtime/kos_platform/Cargo.lock
  runtime/kos_platform/Cargo.toml
  runtime/kos_platform/src/actuator.rs
  runtime/kos_platform/src/firmware/feetech.rs
  runtime/kos_platform/src/firmware/feetech_servo/sts3215.rs
  runtime/kos_platform/src/imu.rs
  runtime/kos_platform/src/lib.rs
  runtime/kos_platform/src/main.rs
Due: build-toolchain, build-cviwrapper, build-servo, build-efuse, build-kos

m
  .gitlab-ci.yml
  kos-zbot/Cargo.lock
Due: build-toolchain, build-cviwrapper, build-servo, build-efuse, build-kos

delete
  kos-zbot/proto/hal_pb.proto
Due: none

fix ci
  .gitlab-ci.yml
Due: build-toolchain, build-cviwrapper, build-servo, build-efuse, build-kos

fix warnings
  kos-zbot/src/actuator.rs
  kos-zbot/src/imu.rs
  kos-zbot/src/lib.rs
Due: none

fix rule
  .gitlab-ci.yml
Due: build-toolchain, build-cviwrapper, build-servo, build-efuse, build-kos

try
  .gitlab-ci.yml
Due: build-toolchain, build-cviwrapper, build-servo, build-efuse, build-kos

rename kos
  .gitlab-ci.yml
Due: build-toolchain, build-cviwrapper, build-servo, build-efuse, build-kos

fix
  .gitlab-ci.yml
Due: build-toolchain, build-cviwrapper, build-servo, build-efuse, build-kos

fix name
  .gitlab-ci.yml
Due: build-toolchain, build-cviwrapper, build-servo, build-efuse, build-kos

rerun
  .gitlab-ci.yml
Due: build-toolchain, build-cviwrapper, build-servo, build-efuse, build-kos

bad dirs
  .gitlab-ci.yml
Due: build-toolchain, build-cviwrapper, build-servo, build-efuse, build-kos

change dep
  kos-zbot/Cargo.toml
  kos-zbot/src/imu.rs
Due: none

fix dep
  kos-zbot/Cargo.toml
  kos-zbot/src/imu.rs
Due: none

delete old
  runtime/firmware/efuse/efuse_read_serial
  runtime/kos_platform/.cargo/config.toml
Due: build-cviwrapper, build-servo, build-efuse, build-kos

builds
  kos-zbot/Cargo.lock
  kos-zbot/Cargo.toml
  kos-zbot/build.rs
  kos-zbot/src/lib.rs
  kos-zbot/src/model.rs
  runtime/firmware/efuse/efuse_read_serial
Due: build-cviwrapper, build-servo, build-efuse

fix warnings
  kos-zbot/src/model.rs
Due: none

save previous setup
  experiments/deploy_policy.py
  experiments/record_position.py
Due: none

feetech scan/change id
  kos-zbot/Cargo.lock
  kos-zbot/firmware/feetech/feetech.c
  kos-zbot/firmware/feetech/feetech.h
  kos-zbot/src/bin/feetech_change_id.rs
  kos-zbot/src/bin/feetech_identify.rs
  kos-zbot/src/bin/feetech_scan.rs
  kos-zbot/src/firmware/feetech.rs
  kos-zbot/src/firmware/feetech_servo/sts3215.rs
Due: none

save rui default positions
  experiments/deploy_policy.py
Due: none

function reasonable
  experiments/deploy_policy.py
Due: none

update loading
  experiments/deploy_policy.py
Due: none

servo identification script, support kbot style IDs
  kos-zbot/src/actuator.rs
  kos-zbot/src/bin/feetech_change_id.rs
  kos-zbot/src/bin/feetech_identify.rs
  kos-zbot/src/firmware/feetech.rs
  kos-zbot/src/firmware/feetech_servo/sts3215.rs
  kos-zbot/src/lib.rs
Due: none

missed import
  kos-zbot/src/firmware/feetech.rs
Due: none

cargo fmt
  kos-zbot/src/bin/feetech_calibrate.rs
  kos-zbot/src/bin/feetech_change_id.rs
  kos-zbot/src/bin/feetech_identify.rs
  kos-zbot/src/bin/feetech_scan.rs
  kos-zbot/src/firmware/feetech_servo/sts3215.rs
  kos-zbot/src/imu.rs
  kos-zbot/src/lib.rs
Due: none

better calibration
  experiments/deploy_policy.py
  experiments/zbot_walking_armature_friction.kinfer
Due: none

wip calibration
  kos-zbot/src/bin/feetech_calibrate.rs
  kos-zbot/src/firmware/feetech.rs
  kos-zbot/src/firmware/feetech_servo/sts3215.rs
Due: none

works for 1 to 1 io
  kos-zbot/src/firmware/cvitek.rs
  kos-zbot/src/model.rs
Due: none

fmt
  kos-zbot/src/firmware/cvitek.rs
  kos-zbot/src/firmware/feetech_servo/sts3215.rs
  kos-zbot/src/imu.rs
  kos-zbot/src/model.rs
Due: none

zero pos
  kos-zbot/src/actuator.rs
  kos-zbot/src/bin/feetech_calibrate.rs
  kos-zbot/src/bin/feetech_read.rs
  kos-zbot/src/bin/feetech_reset_calibration.rs
  kos-zbot/src/firmware/feetech.rs
  kos-zbot/src/firmware/feetech_servo/sts3215.rs
Due: none

test servo availability more
  kos-zbot/src/firmware/feetech.rs
Due: none

Feetech utils & calibration (#87)
  kos-zbot/Cargo.lock
  kos-zbot/firmware/feetech/feetech.c
  kos-zbot/firmware/feetech/feetech.h
  kos-zbot/src/actuator.rs
  kos-zbot/src/bin/feetech_calibrate.rs
  kos-zbot/src/bin/feetech_change_id.rs
  kos-zbot/src/bin/feetech_identify.rs
  kos-zbot/src/bin/feetech_read.rs
  kos-zbot/src/bin/feetech_reset_calibration.rs
  kos-zbot/src/bin/feetech_scan.rs
  kos-zbot/src/firmware/feetech.rs
  kos-zbot/src/firmware/feetech_servo/sts3215.rs
  kos-zbot/src/imu.rs
  kos-zbot/src/lib.rs
Due: none

cargo fmt
  kos-zbot/src/bin/feetech_calibrate.rs
  kos-zbot/src/bin/feetech_read.rs
  kos-zbot/src/bin/feetech_reset_calibration.rs
  kos-zbot/src/firmware/feetech.rs
  kos-zbot/src/firmware/feetech_servo/sts3215.rs
Due: none

multiple inputs
  kos-zbot/models/README.md
  kos-zbot/models/convert_model.sh
Due: none

delete docs
  .gitmodules
Due: none

builds
  kos-zbot/Cargo.lock
  kos-zbot/Cargo.toml
  kos-zbot/firmware/cviwrapper/cviwrapper.c
  kos-zbot/src/firmware/cvitek.rs
  kos-zbot/src/firmware/mod.rs
  kos-zbot/src/model.rs
Due: none

revert to crates
  kos-zbot/Cargo.lock
  kos-zbot/Cargo.toml
Due: none

clean imports
  kos-zbot/src/firmware/cvitek.rs
  kos-zbot/src/firmware/mod.rs
  kos-zbot/src/model.rs
Due: none

regen
  kos-zbot/Cargo.lock
Due: none

Path conditions:
  build-toolchain: any of: runtime/toolchain-docker-img/**/*, .gitlab-ci.yml
  build-cviwrapper: any of: runtime/**/*, .gitlab-ci.yml
  build-servo: any of: runtime/**/*, .gitlab-ci.yml
  build-efuse: any of: runtime/**/*, .gitlab-ci.yml
  build-kos: any of: runtime/kos_platform/**/*, .gitlab-ci.yml
